<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
   {{#toYaml file.content.properties}}{{/toYaml}}
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta content="{{ page.SEO-Description }}" name="description"/>
   <title>{{ page.title }}</title>


<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">

</head>
<body>

    <div id="header_wrap" class="outer">
        <header class="inner">

          <h1 id="project_title">Get code and do the right thing</h1>
          

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
          <section id="main_content" class="inner">
  {{ content }}
  </section>
  </div>
  {{ page.author | prepend: "<span style='color: #fff'>written by: " | append: "</span>"}}
</body>
</html>
